body,
html {
  height: 100%;
}

input[type="text"] {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

select[type="text"]{
  border-radius: 25px;
  padding: 5px;
  margin-left: 5px;
}

a {
  color: #ed274a;
}

#btn-procurar {
  background-color: #ed274a;
  color: #fff;
  border-radius: 50px;
  border-width: 0;
  padding: 5px 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#img-logo {
  width: 200px;
  height: 33px;
  margin: 25px;
}

#content {
  width: 800px;
  height: 300px;
}

#img-perfil {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  padding: 0;
}

#bloco-botoes button {
  background-color: #8f3bfb;
  color: white;
  border-radius: 25px;
  height: 40px;
  width: 210px;
  margin-left: 20px;
  margin-top: 30px;
  border-width: 0px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

#bloco-botoes button:hover,
#bloco-botoes button:focus {
  background-color: #ed274a;
  color: #ffffff;
}

#bloco-botoes button:active {
  background: #ed274a;
  color: rgb(255, 255, 255, 0.7);
}

#bloco-botoes button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

#tipo-sanguineo {
  color: #ed274a;
}

#next-donation {
  border-width: 2px;
  border-color: #ed274a;
  width: 600;
  height: 840;
}

#last-donation {
  border-width: 2px;
  border-color: #8f3bfb;
}

#sidebar {
  background: #ffffff;
  min-width: 260px;
  max-width: 260px;
  height: 100%;

  position: fixed;
  box-shadow: 0 0 0.75rem #bfbfbf;
}
.content {
  min-height: 100vh;
  width: 100%;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: #000;
}
.sidebar li a {
  color: #fff;
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: absolute;
    min-height: 100vh;
    z-index: 1;
  }
  #side_nav.active {
    margin-left: 0;
  }
}

#card-user {
  border-width: 3px;
  border-color: #8f3bfb;
  border-radius: 30px;
  
}

#card-user:hover{
  border-width: 3px;
  border-color: #ed274a;
  border-radius: 30px;
  
}

#card-user button {
  background: #8f3bfb;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 210px;
  margin-left: 75px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-width: 0px;
  justify-content: center;
}

#card-user button:hover {
  background: #ed274a;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 210px;
  margin-left: 75px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-width: 0px;
  justify-content: center;
}

#imgUser {
  border-radius: 75px;
  margin-top: 20px
}
